
:host
    background-color: #E7EEF1 !important
    display: flex
    height: 100%
    flex-direction: column
    justify-content: flex-start
    align-items: stretch

.p-steps, .p-component, .p-readonly
    background-color: red
