<div class="cardUploadContainer">

    <h3>
        {{ title }}
    </h3>

    <sub class="mb-15" [ngClass]="optional ? 'text-secondary' :'text-gray'">
        {{ subTitle }}
    </sub>



    <div class="dropZone">
        <img class="imageNotLoaded" src="../../../assets/uploadBox.png" *ngIf="!fileSelected">
        <span *ngIf="!fileSelected">Clique aqui ou <br> arraste os seus arquivos</span>
        <img class="imageLoaded" #imageSelectVM *ngIf="fileSelected" />
        <input type="file" class="file" (change)="onFileSelect($event)">
    </div>

</div>