<div class="homeContainer">

    <h2>
        Informe o CPF do futuro cooperado (a)
    </h2>

    <p>
        Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.
        Digite apenas os números (sem pontos ou traços).
    </p>

    <form #f="ngForm" (ngSubmit)="findCpf(f)" class="form">
        <div>
            <label class="ml-6 mb-6"><b>CPF</b></label>
            <p-inputMask (onFocus)="focusInputCPF()" #inputCpf name="cpf" styleClass="{{invalidCpf && 'input-invalid'}} test-input" ngModel
                [mask]="'999.999.999-99'" placeholder="000.000.000-00"></p-inputMask>
            <small *ngIf="invalidCpf" class="p-error invalidCpf">Informe um CPF v&aacute;lido</small>
        </div>

        <button name="btnFindCpf" #btnFindCpf [ngClass]="statusLabelFindBtn === 'ready' ? 'btn-primary' : 'btn-disabled'"
            class="btn-p btnFindCpf mb-1" type="submit">
            <span *ngIf="statusLabelFindBtn != 'searching'">Consultar por CPF</span>
            <fa-icon *ngIf="statusLabelFindBtn === 'searching'" class="rotate" [icon]="loadSpinner"></fa-icon>
        </button>
    </form>

</div>

<section class="cardSession">
    <p-card *ngIf="userVM">
        <ng-template pTemplate="header">
            <div class="homeCardHeader">
                <h3>Situação cadastral do CPF</h3>
                <sub>Consulta na Receita Federal</sub>
            </div>
        </ng-template>
        <div class="homeCardContainer">
            <div class="homeCardContainerInformation">
                <div class="icon">
                    <fa-icon class="cardIcon" [icon]="user"></fa-icon>
                </div>
                <div class="label">
                    <label>Nome</label>
                </div>
                <div class="text">
                    {{userVM.name}}
                </div>
            </div>
            <div class="homeCardContainerInformation">
                <div class="icon">
                    <fa-icon *ngIf="userVM?.situation == 'Regular'; else times" class="cardIcon text-success"
                        [icon]="check"></fa-icon>
                    <ng-template #times let-[noCheck]="noCheck">
                        <fa-icon class="cardIcon text-danger" [icon]="noCheck"></fa-icon>
                    </ng-template>
                </div>
                <div class="label">Situação do CPF</div>
                <div class="text">{{userVM.situation}}</div>
            </div>
        </div>
    </p-card>
    <p-card *ngIf="userVM" styleClass="h-100">
        <ng-template pTemplate="header">
            <div class="homeCardHeader">
                <h3>Conta aplica&ccedil;&atilde;o</h3>
                <sub>Cooperativa Viacredi</sub>
            </div>
        </ng-template>
        <div class="homeCardContainer">
            <div class="homeCardContainerInformation">
                <div class="icon">
                    <fa-icon class="cardIcon" [icon]="user"></fa-icon>
                </div>
                <div class="label">
                    <label>N&uacute;mero da conta</label>
                </div>
                <div class="text">
                    {{userVM.accoutNumberApplication}}
                </div>
            </div>
            <a class="btn-link">Duplicar conta</a>
        </div>
    </p-card>
    <p-card *ngIf="userVM" styleClass="h-100">
        <ng-template pTemplate="header">
            <div class="homeCardHeader">
                <h3>Conta corrente</h3>
                <sub>Cooperativa Viacredi</sub>
            </div>
        </ng-template>
        <div class="homeCardContainer">
            <div class="homeCardContainerInformation">
                <div class="icon">
                    <fa-icon class="cardIcon" [icon]="user"></fa-icon>
                </div>
                <div class="label">
                    <label>Número da conta</label>
                </div>
                <div class="text">
                    {{userVM.name}}
                </div>
            </div>
            <a class="btn-link">Duplicar conta</a>
        </div>
    </p-card>
</section>

<footer class="homeFooter">
    <button *ngIf="userVM" class="btn-primary btn-m" (click)="proceed()">Iniciar nova admiss&atilde;o</button>
    <button class="btn-secondary btn-m" (click)="showTips = true">Dicas para abertura da conta</button>
</footer>

<p-sidebar [style]="{width:'max-content', maxWidth: '426px', paddingTop: '100px'}" styleClass="tipsContainer"
    [(visible)]="showTips" position="right" [showCloseIcon]="false" [closeOnEscape]="false" [dismissible]="false">

    <ng-template pTemplate="header">
        <h2>
            Check-list para
            abertura da conta
        </h2>
        <p>
            Confira algumas dicas que irão lhe ajudar neste atendimento para que a admissão aconteça da melhor forma
            possível.
        </p>
        <div>
            <label>
                <input type="checkbox" #meetYourCooperative (change)="meetYourCooperative.checked">
                Conheça seu cooperado
            </label> <br>
            <ul *ngIf="meetYourCooperative.checked">
                <li>O que traz você até a Cooperativa?</li>
                <li>O que é mais importante na sua vida?</li>
                <li>Você tem algum sonho?</li>
            </ul>

            <label>
                <input type="checkbox" #talkAboutCooperative (change)="talkAboutCooperative.checked">
                Fale sobre a Cooperativa
            </label> <br>
            <ul *ngIf="talkAboutCooperative.checked">
                <li>O que traz você até a Cooperativa?</li>
                <li>O que é mais importante na sua vida?</li>
                <li>Você tem algum sonho?</li>
            </ul>

            <label> <input type="checkbox" #necessaryDocuments (change)="necessaryDocuments.checked">
                Documentos e comprovações necessárias
            </label>
            <ul *ngIf="necessaryDocuments.checked">
                <li>O que traz você até a Cooperativa?</li>
                <li>O que é mais importante na sua vida?</li>
                <li>Você tem algum sonho?</li>
            </ul>
        </div>
    </ng-template>



    <ng-template pTemplate="footer">
        <button class="btn-secondary btn-m closeTips" (click)="showTips = false">Continuar atendimento</button>
    </ng-template>

</p-sidebar>