@use './styles/_buttons'
@use './styles/_colors'
@use './styles/_input'
@use './styles/_aimates'
@use './styles/_margins-paddings-size'

/* You can add global styles to this file, and also import other style files */
@font-face
    font-family: Exo2
    src: url("./assets/Exo_2/Exo2-Italic-VariableFont_wght.ttf") format(truetype)
    src: url("./assets/Exo_2/Exo2-VariableFont_wght.ttf") format(truetype)

html,
body
    height: 100%
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: Exo2,

.p-menuitem-link
    background-color: transparent !important