<nav class="navbarContainer bg-primary">
    <figure>
        <div pRipple>
            <fa-icon [icon]="logo"></fa-icon>
        </div>
    </figure>
    <ul>
        <li><div pRipple><fa-icon [icon]="menu"></fa-icon></div></li>
        <li><div pRipple><fa-icon [icon]="search"></fa-icon></div></li>
        <li><div pRipple><fa-icon [icon]="star"></fa-icon></div></li>
        <li><div pRipple><fa-icon class="balloon" [icon]="balloon"></fa-icon></div></li>
        <li><div pRipple><fa-icon class="panel" [icon]="panel"></fa-icon></div></li>
        <li><div pRipple><fa-icon [icon]="bank"></fa-icon></div></li>
    </ul>
</nav>